---
layout: default
title:  DIYWaterChiller
---

<img src="images/vent.jpg"></img>

<p>The <strong>DIYWaterChiller</strong> is my attempt to build a cooling system for my 40W CO2 laser cutter.

{% include LatestPosts.html %}
