<h1>Latest Updates:</h1>

{% for post in site.posts %}

<h2><a class="active" href="{{ site.url }}{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a></h2>
<div>
{{ post.content | markdownify }}
</div>

{% endfor %}

