<div class="links">
<h1>Related Projects</h1>

<!-- DIYLaserBed --> 
<div class="link">
<a class="active" href="//hotwolf.github.io/DIYLaserBed">
<h1>DIYLasaerBed</h1>
A height adjustable laser bed
</a>
</div><!--<div id="link">-->

<!-- DIYVent --> 
<div class="link">
<a class="active" href="//hotwolf.github.io/DIYVent">
<h1>DIYVent</h1>
An vent for a laser cutter
</a>
</div><!--<div id="link">-->

<!-- Project Overview -->
<div class="link">
<a class="active" href="//hotwolf.github.io">
<h1>...more</h1>
Overview of all projects on hotwolf.github.io
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
